[submodule "Assignments/Assignment 1/Submissions/hardingadonis"]
	path = Assignments/Assignment 1/Submissions/hardingadonis
	url = https://github.com/SDN302/assignment-1.git
[submodule "Assignments/Assignment 2/Submissions/hardingadonis"]
	path = Assignments/Assignment 2/Submissions/hardingadonis
	url = https://github.com/SDN302/assignment-2.git
[submodule "Assignments/Assignment 1/Submissions/bakaqc"]
	path = Assignments/Assignment 1/Submissions/bakaqc
	url = https://github.com/SDN302-17C/assignment-1
[submodule "Assignments/Assignment 3/Submissions/hardingadonis"]
	path = Assignments/Assignment 3/Submissions/hardingadonis
	url = https://github.com/SDN302/assignment-3
[submodule "Assignments/Assignment 1/Submissions/thunder"]
	path = Assignments/Assignment 1/Submissions/thunder
	url = https://github.com/4-nam-dai-hoc/SDN302-assigment1.git
[submodule "Assignments/Assignment 2/Submissions/bakaqc"]
	path = Assignments/Assignment 2/Submissions/bakaqc
	url = https://github.com/SDN302-17C/assignment-2
